<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    @for (post of posts(); track post.id; let index = $index) {
    <ion-item class="post-card">
      <ion-label>
        <h2 class="post-title">
          {{ post.title }}
        </h2>

        <p class="post-event">
          {{ post.eventName }}
        </p>

        <div class="post-meta">
          <span class="post-author">
            {{ post.author }}
          </span>
          <span class="post-date">
            {{ post.createdAt.toDate() | date: 'mediumDate' }}
          </span>
        </div>

        <div class="post-footer">
          <span class="post-likes">
            ❤️ {{ post.likes }}
          </span>
        </div>
      </ion-label>
    </ion-item>
    }
  </ion-list>
  <ion-infinite-scroll [disabled]="noMorePost()" (ionInfinite)="getMorePost($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>