<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nuevo Post</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
    <ion-list>
      <ion-item>
        <ion-input label="Título" labelPlacement="stacked" type="text" required name="title"
          [(ngModel)]="formModel.title"></ion-input>
      </ion-item>
      <p class="field-error" *ngIf="postForm.submitted && postForm.controls['title']?.invalid">
        El título es obligatorio.
      </p>

      <ion-item>
        <ion-select label="Selecciona evento" labelPlacement="stacked" interface="alert" required name="eventId"
          [(ngModel)]="formModel.selectedEventId">
          @for (event of events; track event.id) {
            <ion-select-option [value]="event.id">
              {{ event.eventName }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
      <p class="field-error" *ngIf="postForm.submitted && postForm.controls['eventId']?.invalid">
        Debes seleccionar un evento.
      </p>
    </ion-list>

    <div class="new-post-actions" style="padding: 16px;">
      <ion-button expand="block" type="submit" [disabled]="postForm.invalid">
        Publicar
      </ion-button>
    </div>
  </form>
</ion-content>